@charset "UTF-8";
/* 头部轮播图片 */
img{
    width:100%;
}
.top-banner{
    height:235px;
    position: relative;
    border-bottom:5px solid #f0f1f5;
}
.count{
    width:75px;
    height:30px;
    background-color: #342e22;
    color: #fff;
    text-align: center;
    line-height:30px;
    position: absolute;
    right:10px;
    bottom:20px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* 积分兑换 */
.exchange-score{
    border-bottom:1px solid #eef2f5;
    padding-bottom:20px;
}
.duihuan-icon{
    display: inline-block;
    width:28px;
    height:28px;
    background:url(../../images/sprite.png) -82px -322px no-repeat;
    position: relative;
    top:5px;
}
/* 免费试听 */
.free-listen{
    border-bottom:1px solid #eef2f5;
    padding-left:40px;
}
.icon{
    display: inline-block;
    width:28px;
    height:28px;
    background:url(../../images/sprite.png) -82px -188px no-repeat;
    position: relative;
    top:5px;
}
.right-narrow{
    position: relative;
    top: 4px;
    left: 5px;
    font-weight: 500;
}

/* 特色体验 */
.icon2{
    background-position: -82px -234px;
}
.icon3{
    background-position: -82px -280px;
}

/* 选项卡 */
.tab-wrap{
    border-bottom:1px solid #eef2f5;
}
.tab ul li{
    display: inline-block;
    width: 30%;
    padding: 20px 0;
}
.tab ul li i.now{
    display: block;
    width:20px;
    height: 1px;
    border:1px solid #ff4141;
    margin:0 auto;
}

/* 按钮区 */
.btn-area{
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 9999;
    max-width:640px;
    height:70px;
}
.collect-btn{
    background-color: transparent;
    outline:none;
    border:none;
}
.star-icon{
    display: inline-block;
    width:28px;
    height:26px;
    background:url(../../images/sprite.png) -78px -361px no-repeat;
}
.launch-collage{
    width:25%;
    height:40px;
    outline:none;
    border:1px solid #333;
    background-color: transparent;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    /*position: relative;*/
    /*bottom:5px;*/
    /*left:10px;*/
}
.exchange-score-btn{
    background-color: #ec6768;
    color: #fff;
    border:none;

}
.appoint-listen-btn{
    background-color: #ff4141;
    color: #fff;
    border:none;
}

/* 立即预约 */
.cancel-btn{
    display: inline-block;
    width:80px;
    height:30px;
    border:none;
    outline:none;
    background-color: transparent;
    border:1px solid #000;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin-right:50px;
}
.close-btn{
    position: absolute;
    left:10px;
    top:10px;
}
.sure-btn{
    display: inline-block;
    width:80px;
    height:30px;
    border:none;
    outline:none;
    background-color: #ff4141;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    color: #fff;
}

/* 家长口碑 */
.seeMore_appraise{
    position: absolute;
    right: -104px;
    top: 5px;
}

/* 教师简介 */
.teacher_intro_img{
    width: 64px;
    height: 66px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}