@charset "UTF-8";
/* 拼团课程信息 */
.price {
    background-color: #f00;
    color: #fff;
    font-size: 16px;
    height: 57px;
    line-height: 57px;
}

.price s {
    font-size: 14px;
}

/* 倒计时 */
.countdown {
    height: 57px;
    line-height: 26px;
    color: #f00;
    text-align: center;
    font-size: 13px;
}

/* 打折提示 */
.discount-tip {
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #000000;
    margin:10px 0;
}
.text{
    border-bottom:1px solid #eee;
    padding-bottom:10px;
}
.collage-tip{
    font-size:15px;
}

/* 拼团要点 */
.collage-important,.institution-info,.course-info{
    border-bottom:1px solid #ccc;
    margin-bottom:20px;
}
.collage-important h4,
.institution-info h4,
.course-info h4{
    font-size:20px;
    margin-bottom:20px;
}
.collage-important i,
.institution-info i,
.course-info i{
    font-size:15px;
}

/* 机构信息 */
.institution-img img{
    width:111px;
    height:80px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.institution-addr{
    margin-top:18px;
    color: #abaaba;
}

/* 课程信息 */
.join-collage{
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-top:10px;
    background-color: rgba(255, 0, 0, 1);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}
.course-intro-img{
    margin-bottom:90px;
}