@charset "UTF-8";
.user-pic{
    text-align: center;
    margin:50px 0;
}
.user-pic img{
    width:100px;
    height:100px;
}
.login .active{
    position: absolute;
    width:45px;
    height:2px;
    background: url(../../images/sprite.png) 0 -383px no-repeat;
    bottom:0;
    left:39%;
}

/* 登录表单 */
.login-way{
    padding:0 30px;
}
.login-way input[type='text'],.login-way input[type='password']{
    height:55px;
    background-color: #fbfcff!important;
    border-color: #f0f1f5!important;
    border-radius: 50px!important;
    padding-left: 50px !important;
}
.login-wrap{
    /*display: none;*/
}
.show{
    display: block;
}

/* 图标 */
.icon{
    /*display: inline-block;*/
    position: absolute;
    width:30px;
    height:40px;
    background: url(../../images/sprite.png) -2px -392px no-repeat;
    left: 15px;
    bottom: 10px;
}
.icon2{
     background: url(../../images/sprite.png) -2px -435px no-repeat;
 }
.icon3{
    background: url(../../images/sprite.png) -2px -471px no-repeat;
    bottom: 40px;
}
.erweima{
    margin-top:10px;
}
.login-btn,.get-yanzhema{
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    font-size:18px;
}
.get-yanzhema{
    background-color:#fff;
    color: #dd514c;
}
.help-txt{
    color: #8b8b8b;
}
.commen{
    display: inline-block;
    width: 52px;
    height: 56px;
    background: url(../../images/sprite.png) -33px 0px no-repeat;
    background-size: 450px;
    margin:20px;
}
.QQ{
    background: url(../../images/sprite.png) -139px 0px no-repeat;
    background-size: 450px;
}
.weibo{
    background: url(../../images/sprite.png) -86px 0px no-repeat;
    background-size: 450px;
}

/* 忘记密码表单样式 */
.pwd-wrong{
    position: absolute;
    top:15px;
    font-size:16px;
    color: red;
}

/* 验证码 */
#mpanel1{
    float: right;

}
.verify-code{
    background-color: rgb(240, 255, 240);
}
.verify-code-area{
    display: none;
}
.verify-change-area{
    display: none;
}