@charset "UTF-8";
.my-integral{
    background: url(../../images/integral.png) 0 0 no-repeat;
    height:200px;
    color: #fff;
    text-align: center;
}
.pt50{
    padding-top:50px;
}
.choose_day{
    min-width:80px;
    text-align: center;
}
.dropdown{
    min-width:80px;
    line-height:2.6;
    background-color: #e74a45;
}
.dropdown li{
    color: #fff;
    text-align: center;
}
.border-bottom{
    border-bottom:1px solid #E4E4E4;
}